.direction-container {
  margin: 40px 0 20px;
  h4 {
    margin-bottom: 0;
  }
  .direction-arrows {
    width: 200px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    #invisible {
      visibility: hidden;
    }
  }
}
