.header {
    display: flex;
    h2 {
        font-size: 18px;
        width: 50%;
        padding: 20px 0 0 35px;
    }
    div {
        margin-top: 50px;
        margin-left: 80px;
        @media screen and (max-width: 768px) {
            margin-left: 30px;
        }
    }
}